<div class="container">
  <h2>Forget Password?</h2>
  <form id="forget-form" (ngSubmit)="sendForget()">
    <label for="inputEmail">Email</label>
    <input type="email" required id="inputEmail" placeholder="Email" [(ngModel)]="email" class="form-control" name="email">
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
  <div *ngIf="successMessage !== ''" id="success" class="alert alert-success">{{ successMessage }}</div>
  <div *ngIf="errorMessage !== ''" id="success" class="alert alert-danger">{{ errorMessage }}</div>
</div>
