<div class="container">
  <form id="form-forget" (ngSubmit)="sendForget()" style="max-width: 900px;margin:0px auto;">
    <h2 class="mt-4 text-dark">Forget Password?</h2>
    <div class="form-row mb-3">
    <label for="inputEmail">Email</label>
    <input type="email" required id="inputEmail" placeholder="Email" [(ngModel)]="email" class="form-control" name="email">
      </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  <div *ngIf="successMessage !== ''" id="success" class="alert alert-success">{{ successMessage }}</div>
  <div *ngIf="errorMessage !== ''" id="success" class="alert alert-danger">{{ errorMessage }}</div>
      </form>
</div>
