<div class="container-fluid">
  <div *ngIf="errorMessage !== ''" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div *ngIf="student">
    <div id="student-info">
      <div class="row mb-0" id="student-name">
        <h4 class="text-dark">
          {{ student | studentName }}
        </h4>
      </div>

      <div class="row mt-2" id="student-email">
        <!--<a [routerLink]="['mailto:', student.email]">{{ student.email }}</a>-->
        <div class="col-6 col-md-4 col-xl-2">
          Email
        </div>
        <div class="col-6 col-md-8 col-xl-10 text-secondary">{{ student.email }}</div>
      </div>

      <div *ngIf="student.role==='student' || student.course" class="row" id="student-desc">
        <div class="col-6 col-md-4 col-xl-2">
          Course
        </div>
        <div class="col-6 col-md-8 col-xl-10 text-secondary">
          <a *ngIf="student.course" [routerLink]="['/admin/courses', student.course.courseNum]" class="text-secondary">{{ student.course.courseNum }}</a>
          <div *ngIf="student.course===undefined">No course</div>
        </div>
      </div>

      <div class="row mb-2" id="student-role">
        <div class="col-6 col-md-4 col-xl-2">Role</div>
        <div class="btn-group col-6 col-md-8 col-xl-10">
          <button *ngFor="let role of roles" [disabled]="roleDisabled(role.key)" [ngClass]="roleButtonClass(role.key)" (click)="clickButton(role.key)">
          {{ role.label }}
        </button>
        </div>
      </div>
    </div>
    <!-- end student info -->

    <div id="student-scenarios">
      <h5>Scenarios</h5>
      <div class="list-group">
        <div *ngFor="let scenario of scenarios" class="list-group-item justify-content-between d-flex">
          <div class="">
            <span class="scenario-label">{{scenario.label}}:</span> <span class="text-secondary"> {{ getScenStatus(scenario.scenCode) }}</span>
          </div>
          <div class="btn-group" role="group">
            <!--<button class="btn btn-outline-secondary btn-sm" (click)="grantAccess(scenario.scenCode)" [disabled]="student.accessGranted[scenario.scenCode]">Grant access</button>-->
            <button [ngClass]="accessButtonClass(scenario.scenCode)" (click)="toggleAccess(scenario.scenCode)">{{ accessButtonText(scenario.scenCode) }}</button>
            <a [routerLink]="['./', scenario.scenCode]" class="btn btn-outline-primary btn-sm">View fridge</a>
          </div>
        </div>
        <!-- end list-group-item -->
      </div>
      <!-- end list-group -->
    </div>
    <!-- end student-scenarios -->
  </div>
  <!-- end if student -->
</div>
<!-- end container -->
