<div class="container">
  <form (ngSubmit)="sendReset()" id="form-reset" style="max-width: 900px; margin: 0px auto;">
    <h2 class="mt-4 text-dark">Reset Password</h2>
    <div class="form-group row" id="form-row-new">
      <label for="inputNewPassword" class="col-sm-2 col-form-label">New Password</label>
      <div class="col-sm-10">
        <input type="password" id="inputNewPassword" class="form-control" [(ngModel)]="credentials.password" name="password">
        <small id="passwordHelp" class="text-muted">
        Must have at least 6 characters
        </small>
      </div>
    </div>
    <!-- end form-row-new -->
    <div class="form-group row" id="form-row-confirm">
      <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Confirm</label>
      <div class="col-sm-10">
        <input type="password" id="inputConfirmPassword" class="form-control" [(ngModel)]="credentials.confirmPassword" name="confirmPassword">

      </div>
    </div>
    <!-- end form-row-confirm -->
    <button type="submit" class="btn btn-primary" [disabled]="isDisabled">Submit</button>

    <div *ngIf="successMessage !== ''" id="success" class="alert alert-success">
      {{ successMessage }} Go <a [routerLink]="['/authentication/signin']">sign in</a>.
    </div>
    <div *ngIf="errorMessage !== ''" class="alert alert-danger">
      {{ errorMessage }}
    </div>
  </form>
</div>
