<div class="container mb-3">
  <form [formGroup]="credentials" (ngSubmit)="sendReset()" id="form-reset" style="max-width: 900px; margin: 0px auto;">
    <h2 class="mt-4 text-dark">Reset Password</h2>
    <div class="form-group row" id="form-row-new">
      <label for="inputNewPassword" class="col-sm-3 col-form-label">New Password</label>
      <div class="col-sm-9">
        <input type="password" id="inputNewPassword" [ngClass]="getInputClass('password')" formControlName="password" required autofocus name="password">
        <password-error [password]="password"></password-error>
      </div>
    </div>
    <!-- end form-row-new -->
    <div class="form-group row" id="form-row-confirm">
      <label for="inputConfirmPassword" class="col-sm-3 col-form-label">Confirm</label>
      <div class="col-sm-9">
        <input type="password" id="inputConfirmPassword" [ngClass]="getInputClass('confirmPassword')"  formControlName="confirmPassword" required name="confirmPassword">
        <confirm-password-error [confirmPassword]="confirmPassword"></confirm-password-error>
      </div>
    </div>
    <!-- end form-row-confirm -->
    <button type="submit" class="btn btn-primary" [disabled]="!credentials.valid">Submit</button>

    <div *ngIf="successMessage !== ''" id="successMessage" class="text-success font-weight-bold">
      {{ successMessage }} Go <a [routerLink]="['/authentication/signin']">sign in</a>.
    </div>
    <div *ngIf="errorMessage !== ''" class="text-danger font-weight-bold" id="errorMessage">
      {{ errorMessage }}
    </div>
  </form>
</div>
