<div class="card bg-light border-dark" style="width: 40rem;margin: auto">
        <div class="card-header row m-0">
        <h4 class="card-title mb-0 pl-0 col-6">Labroom</h4>
        </div>
        <div class="card-body">
                        <div class="m-0 row" style="width: auto">
                                Crosses happen here
                        </div>
                      <div class="m-0 row" style="width: auto">
                                <div class="col-3 p-0 col-l-6 border" style="margin: auto">
                                                <div *ngIf="malePede.phenotype !== null" [ngClass]="getMendelpede(malePede.phenotype)" style="margin: auto"
                                                select-droppable [selectEnabled]="malePede.phenotype !== null" [selectData]="malePede"
                                                [title]="malePede.bugId+1" [sourceName]="'lab-'+malePede.bugId" [dropDisabled]="true">
                                                                <span>{{ malePede.bugId + 1 }}</span>
                                                                <span style="float:right">{{ malePede.isFemale }}</span>
                                                </div>
                                                <div *ngIf="malePede.phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPede($event)">
                                                                
                                                </div>
                                </div>
                                <div class="col-3 p-0 col-l-6 border" style="margin: auto">
                                                <div *ngIf="childPede.phenotype !== null" [ngClass]="getMendelpede(childPede.phenotype)" style="margin: auto"
                                                select-droppable [selectEnabled]="childPede.phenotype !== null" [selectData]="childPede"
                                                [title]="childPede.bugId+1" [sourceName]="'lab-'+childPede.bugId" [dropDisabled]="true">
                                                                <span>{{ childPede.bugId + 1 }}</span>
                                                                <span style="float:right">{{ childPede.isFemale }}</span>
                                                </div>
                                                <div *ngIf="childPede.phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPede($event)">
                                                                
                                                </div>
                                </div>
                                <div class="col-3 p-0 col-l-6 border" style="margin: auto">
                                                <div *ngIf="femalePede.phenotype !== null" [ngClass]="getMendelpede(femalePede.phenotype)" style="margin: auto"
                                                select-droppable [selectEnabled]="femalePede.phenotype !== null" [selectData]="femalePede"
                                                [title]="femalePede.bugId+1" [sourceName]="'lab-'+femalePede.bugId" [dropDisabled]="true">
                                                                <span>{{ femalePede.bugId + 1 }}</span>
                                                                <span style="float:right">{{ femalePede.isFemale }}</span>
                                                </div>
                                                <div *ngIf="femalePede.phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPede($event)">
                                                                
                                                </div>
                                </div>
                      </div>
                      <div class="m-0 row" style="width: auto">
                                Store is here
                        </div>
                        <div class="m-0 row" style="width: auto">
                                        <div class="col-sm-3">
                                                        <button type="button" class="btn btn-primary btn-sm">Store</button>
                                              </div>
                                              <div class="col-sm-3">
                                                        <button type="button" class="btn btn-primary btn-sm">Store</button>
                                              </div>
                                              <div class="col-sm-3">
                                                        <button type="button" class="btn btn-primary btn-sm">Store</button>
                                           </div>
                                           <div class="col-sm-3">
                                                        <button type="button" class="btn btn-primary btn-sm">Store</button>
                                              </div>
                              </div>
                      <div class="m-0 row" style="width: auto">
                                <div class="col-sm-3 border">
                                                <div [ngClass]="getMendelpedetopleft()"></div>
                                      </div>
                                      <div class="col-sm-3 border">
                                                <div [ngClass]="getMendelpedetopleft()"></div>
                                      </div>
                                      <div class="col-sm-3 border">
                                                <div [ngClass]="getMendelpedetopleft()"></div>
                                   </div>
                                   <div class="col-sm-3 border">
                                                <div [ngClass]="getMendelpedetopleft()"></div>
                                      </div>
                      </div>
                      <div class="m-0 row" style="width: auto">
                                <div class="col-sm-3 border">
                                                <div [ngClass]="getMendelpedebottomleft()"></div>
                                      </div>
                                      <div class="col-sm-3 border">
                                                <div [ngClass]="getMendelpedetopleft()"></div>
                                      </div>
                                      <div class="col-sm-3 border">
                                                <div [ngClass]="getMendelpedebottomleft()"></div>
                                   </div>
                                   <div class="col-sm-3 border">
                                                <div [ngClass]="getMendelpedetopleft()"></div>
                                      </div>
                        </div>
                        <div class="m-0 row" style="width: auto">
                                        <div class="col-sm-3">
                                                        <button type="button" class="btn btn-primary btn-sm">Store</button>
                                              </div>
                                              <div class="col-sm-3 ">
                                                        <button type="button" class="btn btn-primary btn-sm">Store</button>
                                              </div>
                                              <div class="col-sm-3 ">
                                                        <button type="button" class="btn btn-primary btn-sm">Store</button>
                                           </div>
                                           <div class="col-sm-3 ">
                                                        <button type="button" class="btn btn-primary btn-sm">Store</button>
                                              </div>
                              </div>
              </div>
      <!-- end if fridge -->
    </div>
