<div class="card bg-light border-dark" style="width: 40rem;margin: auto">
        <div class="card-header row m-0">
        <h4 class="card-title mb-0 pl-0 col-6">Labroom</h4>
        </div>
        <div class="card-body">
                        <div class="m-0 row" style="width: auto">
                                <div class="col-3 p-0 col-l-6" style="margin: auto">
                                        <span style="margin: auto">Male</span>
                                </div>
                                <div class="col-3 p-0 col-l-6" style="margin: auto">
                                        <span style="margin: auto">Children</span>
                                </div>
                                <div class="col-3 p-0 col-l-6" style="margin: auto">
                                        <span style="margin: auto">Female</span>
                                </div>
                        </div>
                      <div class="m-0 row" style="width: auto">
                                <div class="col-3 p-0 col-l-6 border" style="margin: auto">
                                                <div *ngIf="malePede.phenotype !== null" [ngClass]="getMendelpede(malePede.phenotype)" style="margin: auto"
                                                select-droppable [selectEnabled]="malePede.phenotype !== null" [selectData]="malePede"
                                                [title]="malePede.bugId+1" [sourceName]="'lab-'+malePede.bugId" [dropDisabled]="true">
                                                                <span>{{ malePede.bugId + 1 }}</span>
                                                                <span style="float:right">{{ malePede.isFemale }}</span>
                                                </div>
                                                <div *ngIf="malePede.phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPede($event)" style="margin:auto">
                                                                
                                                </div>
                                </div>
                                <div class="col-3 p-0 col-l-6 border" style="margin: auto">
                                                <div *ngIf="childPedes[0].phenotype !== null" [ngClass]="getMendelpede(childPedes[0].phenotype)" style="margin: auto"
                                                select-droppable [selectEnabled]="childPedes[0].phenotype !== null" [selectData]="childPedes[0]"
                                                [title]="childPedes[0].bugId+1" [sourceName]="'lab-'+childPedes[0].bugId" [dropDisabled]="true">
                                                        <span style="float:right">{{ childPedes[0].isFemale }}</span>
                                                </div>
                                                <div *ngIf="childPedes[0].phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPede($event)" style="margin:auto">
                                                                
                                                </div>
                                </div>
                                <div class="col-3 p-0 col-l-6 border" style="margin: auto">
                                                <div *ngIf="femalePede.phenotype !== null" [ngClass]="getMendelpede(femalePede.phenotype)" style="margin: auto"
                                                select-droppable [selectEnabled]="femalePede.phenotype !== null" [selectData]="femalePede"
                                                [title]="femalePede.bugId+1" [sourceName]="'lab-'+femalePede.bugId" [dropDisabled]="true">
                                                                <span>{{ femalePede.bugId + 1 }}</span>
                                                                <span style="float:right">{{ femalePede.isFemale }}</span>
                                                </div>
                                                <div *ngIf="femalePede.phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPede($event)" style="margin:auto">
                                                                
                                                </div>
                                </div>
                      </div>
                        <div class="m-0 row" style="width: auto">
                                Store is here
                        </div>
                      <div class="pede-list">
                                <div *ngFor="let pederow of storablePedes" class="ls-strain m-0 row">
                                        <div *ngFor="let pedes of pederow" class="col-3 p-0 col-l-4 border" style="margin: auto">
                                                <div style="margin: auto">
                                                        <div *ngIf="pedes[pedes.length-1].phenotype !== null" [ngClass]="getMendelpede(pedes[pedes.length-1].phenotype)" style="margin: auto"
                                                        (click)="dropPedeToStorage(pedes[pedes.length-1].bugId)">
                                                                        <span style="float:right">{{ pedes[pedes.length-1].isFemale }}</span>
                                                        </div>
                                                        <div *ngIf="pedes[pedes.length-1].phenotype === null" class="mpede-empty" (click)="dropPedeToStorage(pedes[pedes.length-1].bugId)" style="margin:auto">
                                                                        
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        <!--
                        <div class="ls-strain m-0 row">
                                <div class="col-3 p-0 col-l-4 border" style="margin: auto">
                                        <div *ngIf="storablePedes[0][storablePedes[0].length-1].phenotype !== null" [ngClass]="getMendelpede(storablePedes[0][storablePedes[0].length-1].phenotype)" style="margin: auto"
                                        select-droppable [selectEnabled]="storablePedes[0][storablePedes[0].length-1].phenotype !== null" [selectData]="storablePedes[0][storablePedes[0].length-1]"
                                        [title]="storablePedes[0][storablePedes[0].length-1].bugId+1" [sourceName]="'fridge-'+storablePedes[0][storablePedes[0].length-1].bugId" (onDropSuccess)="dropPedeToStorage($event, 0)">
                                                        <span style="float:right">{{ storablePedes[0][storablePedes[0].length-1].isFemale }}</span>
                                        </div>
                                        <div *ngIf="storablePedes[0][storablePedes[0].length-1].phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPedeToStorage($event, 0)" style="margin:auto">
                                                        
                                        </div>
                                </div>
                                <div class="col-3 p-0 col-l-4 border" style="margin: auto">
                                        <div *ngIf="storablePedes[1][storablePedes[1].length-1].phenotype !== null" [ngClass]="getMendelpede(storablePedes[1][storablePedes[1].length-1].phenotype)" style="margin: auto"
                                        select-droppable [selectEnabled]="storablePedes[1][storablePedes[1].length-1].phenotype !== null" [selectData]="storablePedes[1][storablePedes[1].length-1]"
                                        [title]="storablePedes[1][0].bugId+1" [sourceName]="'fridge-'+storablePedes[1][0].bugId" (onDropSuccess)="dropPedeToStorage($event, 1)">
                                                        <span style="float:right">{{ storablePedes[1][storablePedes[1].length-1].isFemale }}</span>
                                        </div>
                                        <div *ngIf="storablePedes[1][storablePedes[1].length-1].phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPedeToStorage($event, 1)" style="margin:auto">
                                                        
                                        </div>
                                </div>
                                <div class="col-3 p-0 col-l-4 border" style="margin: auto">
                                        <div *ngIf="storablePedes[2][storablePedes[2].length-1].phenotype !== null" [ngClass]="getMendelpede(storablePedes[2][storablePedes[2].length-1].phenotype)" style="margin: auto"
                                        select-droppable [selectEnabled]="storablePedes[2][storablePedes[2].length-1].phenotype !== null" [selectData]="storablePedes[2][storablePedes[2].length-1]"
                                        [title]="storablePedes[2][storablePedes[2].length-1].bugId+1" [sourceName]="'fridge-'+storablePedes[2][storablePedes[2].length-1].bugId" (onDropSuccess)="dropPedeToStorage($event, 2)">
                                                        <span style="float:right">{{ storablePedes[2][storablePedes[2].length-1].isFemale }}</span>
                                        </div>
                                        <div *ngIf="storablePedes[2][storablePedes[2].length-1].phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPedeToStorage($event, 2)" style="margin:auto">
                                                        
                                        </div>
                                </div>
                                <div class="col-3 p-0 col-l-4 border" style="margin: auto">
                                        <div *ngIf="storablePedes[3][storablePedes[3].length-1].phenotype !== null" [ngClass]="getMendelpede(storablePedes[3][storablePedes[3].length-1].phenotype)" style="margin: auto"
                                        select-droppable [selectEnabled]="storablePedes[3][storablePedes[3].length-1].phenotype !== null" [selectData]="storablePedes[3][storablePedes[3].length-1]"
                                        [title]="storablePedes[3][storablePedes[3].length-1].bugId+1" [sourceName]="'fridge-'+storablePedes[3][storablePedes[3].length-1].bugId" (onDropSuccess)="dropPedeToStorage($event, 3)">
                                                        <span style="float:right">{{ storablePedes[3][storablePedes[3].length-1].isFemale }}</span>
                                        </div>
                                        <div *ngIf="storablePedes[3][storablePedes[3].length-1].phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPedeToStorage($event, 3)" style="margin:auto">
                                                        
                                        </div>
                                </div>
                        </div>
                        <div class="ls-strain m-0 row">
                                <div class="col-3 p-0 col-l-4 border" style="margin: auto">
                                        <div *ngIf="storablePedes[4][storablePedes[4].length-1].phenotype !== null" [ngClass]="getMendelpede(storablePedes[4][storablePedes[4].length-1].phenotype)" style="margin: auto"
                                        select-droppable [selectEnabled]="storablePedes[4][storablePedes[4].length-1].phenotype !== null" [selectData]="storablePedes[4][storablePedes[4].length-1]"
                                        [title]="storablePedes[4][storablePedes[4].length-1].bugId+1" [sourceName]="'fridge-'+storablePedes[4][storablePedes[4].length-1].bugId" (onDropSuccess)="dropPedeToStorage($event, 4)">
                                                        <span style="float:right">{{ storablePedes[4][storablePedes[4].length-1].isFemale }}</span>
                                        </div>
                                        <div *ngIf="storablePedes[4][storablePedes[4].length-1].phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPedeToStorage($event, 4)" style="margin:auto">
                                                        
                                        </div>
                                </div>
                                <div class="col-3 p-0 col-l-4 border" style="margin: auto">
                                        <div *ngIf="storablePedes[5][storablePedes[5].length-1].phenotype !== null" [ngClass]="getMendelpede(storablePedes[5][0].phenotype)" style="margin: auto"
                                        select-droppable [selectEnabled]="storablePedes[5][0].phenotype !== null" [selectData]="storablePedes[5][0]"
                                        [title]="storablePedes[5][0].bugId+1" [sourceName]="'fridge-'+storablePedes[5][0].bugId" (onDropSuccess)="dropPedeToStorage($event, 5)">
                                                        <span style="float:right">{{ storablePedes[5][0].isFemale }}</span>
                                        </div>
                                        <div *ngIf="storablePedes[5][0].phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPedeToStorage($event, 5)" style="margin:auto">
                                                        
                                        </div>
                                </div>
                                <div class="col-3 p-0 col-l-4 border" style="margin: auto">
                                        <div *ngIf="storablePedes[6][0].phenotype !== null" [ngClass]="getMendelpede(storablePedes[6][0].phenotype)" style="margin: auto"
                                        select-droppable [selectEnabled]="storablePedes[6][0].phenotype !== null" [selectData]="storablePedes[6][0]"
                                        [title]="storablePedes[6][0].bugId+1" [sourceName]="'fridge-'+storablePedes[6][0].bugId" (onDropSuccess)="dropPedeToStorage($event, 6)">
                                                        <span style="float:right">{{ storablePedes[6][0].isFemale }}</span>
                                        </div>
                                        <div *ngIf="storablePedes[6][0].phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPedeToStorage($event, 6)" style="margin:auto">
                                                        
                                        </div>
                                </div>
                                <div class="col-3 p-0 col-l-4 border" style="margin: auto">
                                        <div *ngIf="storablePedes[7][0].phenotype !== null" [ngClass]="getMendelpede(storablePedes[7][0].phenotype)" style="margin: auto"
                                        select-droppable [selectEnabled]="storablePedes[7][0].phenotype !== null" [selectData]="storablePedes[7][0]"
                                        [title]="storablePedes[7][0].bugId+1" [sourceName]="'fridge-'+storablePedes[7][0].bugId" (onDropSuccess)="dropPedeToStorage($event, 7)">
                                                        <span style="float:right">{{ storablePedes[7][0].isFemale }}</span>
                                        </div>
                                        <div *ngIf="storablePedes[7][0].phenotype === null" class="mpede-empty" select-droppable (onDropSuccess)="dropPedeToStorage($event, 7)" style="margin:auto">
                                                        
                                        </div>
                                </div>
                        </div>
                        -->
                        </div>
                </div>
      <!-- end if fridge -->
    </div>
