.DS_store
.DS_Store
node_modules
public/app/*.js
public/app/*.js.map
public/app/**/*.js
public/app/**/*.js.map
!public/app/system.config.js
npm-debug.log
/typings/

config/credentials/*
!config/credentials/*public*

/config/env.production.js
/.nyc_output/
coverage/**/html/*
