<div class="container">
  <h2 class="mt-4">Available Scenarios</h2>
  <div *ngIf="user" class="col-12">
    <div class="list-group mt-2">
      <a *ngFor="let scenario of scenarios" [routerLink]="[scenario.scenCode, 'info']" class="list-group-item list-group-item-action">{{scenario.label}}</a>
    </div>
    <!-- end list-group -->
  </div>
  <div *ngIf="!user" class="col-12">
    <p>
      <a [routerLink]="['/authentication/signin']">Sign in</a> or <a [routerLink]="['/authentication/signup']">Sign up</a> to see scenarios.</p>
  </div>
</div>
