<div class="container">
<h1>Available Scenarios</h1>
<div *ngIf="user" class="col-12">
  <!--<h2>Welcome {{user.name}}</h2>-->
  <a href="api/auth/signout">Sign out</a>
  <div class="list-group mt-2">
      <a *ngFor="let scenario of scenarios" [routerLink]="[scenario.scenCode, 'info']" class="list-group-item list-group-item-action">{{scenario.label}}</a>
  </div> <!-- end list-group -->
</div>
<div *ngIf="!user" class="col-12">
  <p>Sign in or sign up to see scenarios.</p>
 <a [routerLink]="['/authentication/signup']">Sign up</a><br>
  <a [routerLink]="['/authentication/signin']">Sign in</a>
</div>
</div>

