.navbar{

}

.navbar-fixed-top{
  top: 0px;
}

a.navbar-brand{
  font-weight: bold;
  color: slategray;
}
ul.navbar-nav{
  display: inline-flex;
  list-style: none;
  margin-left: 0px;
}
li.nav-item{
  padding: 2px;
  margin: 5px 0px;
}
