<nav class="navbar navbar-fixed-top">
    <div class="container">
      <img src="img/cricket-icon.png" width="18px" height="18px">
        <a class="navbar-brand">Cricket</a>
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li *ngIf="user" class="nav-item"><a class="nav-link" routerLink="signout">Sign out</a></li>
          <li *ngIf="!user" class="nav-item"><a class="nav-link" routerLink="signin">Sign in</a></li>
          <li *ngIf="!user" class="nav-item"><a class="nav-link" routerLink="signup">Sign up</a></li>
        </ul>
    </div>
</nav>
