<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
  <div class="container">

        <a class="navbar-brand" routerLink="/">
          <img src="img/cricket-icon.png" width="20px" height="20px" class="d-inline-block">Cricket</a>
        <!--<ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
            <li *ngIf="user" class="nav-item"><a href="api/auth/signout" class="nav-link">Sign out</a></li>
          <li *ngIf="!user" class="nav-item"><a class="nav-link" routerLink="authentication/signin">Sign in</a></li>
          <li *ngIf="!user" class="nav-item"><a class="nav-link" routerLink="authentication/signup">Sign up</a></li>
        </ul>-->
    </div>
</nav>
