<div class="card bg-light border-dark">
  <div *ngIf="fridge">
    <h4 class="card-header">Fridge</h4>
    <div class="card-body">
      <!--<div class="strain-list">
        <div *ngFor="let strain of strains">
        <div class="strain strain-{{strain.phageType}}">
        {{strain.strainNum}}
          <span *ngIf='strain.phageType !== "empty"'>{{strain.id}}</span>
          </div>
        </div>-->
       <div *ngFor="let strain of currStrains" class="strain-list">
         <div class="ls-strain" dnd-draggable [dragEnabled]="true" [dropZones]="['bact-tube']" [dragData]="strain">
           <span class="strain-num text-secondary">{{strain.strainNum}}</span>
          <span *ngIf='strain.phageType !== "empty"'>{{strain.id}}</span>
          </div>
      </div>
    </div>
    <!-- end card body -->
    <div class="card-footer text-center">
      <!--<button (click)="save()" class="btn btn-secondary">Save</button>-->
      <div role="toolbar">
      <button (click)="changeShelf(-1)" [disabled]="shelf==0" class="btn"><span>&laquo;</span></button>
      <button (click)="changeShelf(1)" [disabled]="shelf==1" class="btn"><span>&raquo;</span></button>
        </div>
    </div>
  </div>
  <!-- end if fridge -->
  <!--<router-outlet></router-outlet>-->
</div>
