<div class="card bg-light border-dark">
  <div *ngIf="fridge">
    <div class="card-header row m-0">
    <h4 class="card-title mb-0 pl-0 col-6">Fridge</h4>
    <h6 *ngIf="!fridge.accessGranted" class="pr-0 col-6 card-subtitle text-muted m-0 align-self-end text-right">Practice</h6>
    </div>
    <div class="card-body">
      <div *ngIf="errorMessage!==''" class="alert alert-danger">
      {{errorMessage}}
      </div>
       <div class="strain-list">
         <div *ngFor="let strain of currStrains" class="ls-strain m-0 row">
          <span class="strain-num text-secondary col-3 col-xl-2 p-0">{{ strain.strainNum + 1 }}</span>
          <span [ngClass]="getPhageClass(strain.strainNum)" *ngIf="strain.phageType !== 'empty'"
          select-droppable [selectEnabled]="strain.phageType !== 'empty'" [selectData]="strain"
          [title]="strain.comment" [sourceName]="'fridge-'+strain.strainNum" [dropDisabled]="true"></span>
          <span class="strain-empty col-7 col-xl-8 p-0" *ngIf="strain.phageType === 'empty'" select-droppable [allowDrop]="canDrop(strain.strainNum)" (onDropSuccess)="dropStrain($event, strain.strainNum)"></span>
           <div class="col-2 p-0">
           <span *ngIf="strain.phageType !== 'empty'" class="oi oi-ellipses edit-phage-btn align-bottom" aria-hidden="true" (click)="editPhage(strain.strainNum)"></span>
             </div>
          </div>
      </div>
    </div>
    <!-- end card body -->
    <div class="card-footer text-center">
      <div role="toolbar" class="btn-group btn-group-sm">
        <button (click)="setShelf(0)" [disabled]="shelf==0" class="btn">
        <span class="oi oi-media-step-backward"></span>
        <!--<span>&laquo;</span>-->
        </button>
      <button (click)="changeShelf(-1)" [disabled]="shelf==0" class="btn">
        <span class="oi oi-media-skip-backward"></span>
        <!--<span>&laquo;</span>-->
        </button>
      <button (click)="changeShelf(1)" [disabled]="shelf==(maxShelf-1)" class="btn">
        <span class="oi oi-media-skip-forward"></span>
        <!--<span>&raquo;</span>-->
        </button>
        <button (click)="setShelf(maxShelf-1)" [disabled]="shelf==(maxShelf-1)" class="btn">
        <span class="oi oi-media-step-forward"></span>
        <!--<span>&laquo;</span>-->
        </button>
        </div>
    </div>
  </div>
  <!-- end if fridge -->
</div>
