<div class="modal-header pb-2 bg-light">
  <h5 class="modal-title">Strain {{phage.strainNum + 1}}</h5>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row form-group mb-1" id="phageType">
      <label for="typeInput" class="col-sm-3 col-form-label text-secondary" style="font-weight: 500;">Type</label>
      <div class="col-sm-9">
        <input type="text" readonly class="form-control-plaintext text-capitalize" id="typeInput" [(value)]="phage.phageType">
      </div>
    </div>
    <!-- end row phageType -->
    <div class="row form-group mb-1" id="phageComment">
      <label for="commentInput" class="col-sm-3 col-form-label text-secondary" style="font-weight: 500;">Comment</label>
      <div class="col-sm-9">
        <textarea type="text" class="form-control" id="commentInput" placeholder="comment" [(ngModel)]="phage.comment"></textarea>
      </div>
    </div>
    <!-- end row phageComment -->
    <div *ngIf="phage.phageType==='user'" class="row form-group mb-1" id="phageSubmit">
      <label for="submitInput" class="col-sm-3 col-form-label text-secondary" style="font-weight: 500;" title="submit phage for grading">Submitted</label>
      <div class="col-sm-9">
        <input type="checkbox" class="" id="submitInput" [(ngModel)]="phage.submitted">
      </div>
    </div>
    <!-- end row phageType -->

    <div *ngIf="phage.parents.length > 0" id="viewParents" class="row form-group mb-1">
      <label for="parentList" class="col-sm-3 col-form-label text-secondary" style="font-weight: 500;">Parents</label>
      <div class="col-sm-9 form-control-plaintext">
        {{phage.parents | phageParents:phage.numParents}}
      </div>
    </div>
    <!-- end row viewParents -->
  </div>
</div>
<!-- end modal body -->
<div class="modal-footer d-flex pt-2 ">
  <button class="btn btn-danger mr-auto" (click)="activeModal.close('delete')" title="Delete this strain from the fridge" [disabled]="phage.phageType !== 'user'">Delete</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cancel</button>
  <button type="button" class="btn btn-primary" (click)="activeModal.close(phage)">Save</button>
</div>
