<div class="container mb-3">
  <form [formGroup]="user" (ngSubmit)="signup()" class="form-signup" style="max-width: 900px; margin: 0px auto;">
    <h2 class="form-signup-heading mt-4 text-dark">Sign up </h2>

    <div class="form-row" id="rowName">
      <div class="col-md-6 mb-2">
        <label for="inputFirstName">First name</label>
        <input type="text" id="inputFirstName" [ngClass]="getInputClass('firstName')" required autofocus formControlName="firstName" name="firstName">
        <required-error [field]="firstName" [textLabel]="'First name'"></required-error>
      </div>

      <div class="col-md-6 mb-2">
        <label for="inputLastName">Last name</label>
        <input type="text" id="inputLastName" [ngClass]="getInputClass('lastName')" required  formControlName="lastName" name="lastName">
        <required-error [field]="lastName" [textLabel]="'Last name'"></required-error>
      </div>
    </div>
    <!-- end rowName -->

    <div class="form-row mb-2" id="rowEmail">
      <label for="inputEmail">Email address</label>
      <input type="email" id="inputEmail" [ngClass]="getInputClass('username')" required formControlName="username" name="username">
      <email-error [email]="username"></email-error>
    </div>
    <!-- end rowEmail -->

    <div class="form-row mb-2" id="rowCourse">
      <label for="inputCourse">Course</label>
      <select [ngClass]="getInputClass('course')" formControlName="course" name="course" placeholder="Select a course">
        <option value="undefined" disabled>Select course</option>
        <option *ngFor="let course of courses" [value]="course.id">{{ course.courseNum }}</option>
      </select>
      <required-error [field]="course" [textLabel]="'Course'"></required-error>
    </div>
    <!-- end rowCourse -->

    <div class="form-row mb-2" id="rowPassword">
      <div class="col-md-6">
        <label for="inputPassword">Password</label>
        <input type="password" required id="inputPassword" [ngClass]="getInputClass('password')" formControlName="password" name="password">
        <password-error [password]="password"></password-error>
      </div>
      <div class="col-md-6">
        <label for="confirmPassword" class="text-muted">Confirm</label>
        <input type="password" id="confirmPassword" [ngClass]="getInputClass('confirmPassword')" required formControlName="confirmPassword" name="confirmPassword">
        <confirm-password-error [confirmPassword]="confirmPassword"></confirm-password-error>
      </div>
    </div> <!-- end rowPassword -->
    <div *ngIf="errorMessage !== ''" class="alert alert-danger">{{errorMessage}}</div>
    <button class="btn btn-primary mt-2" type="submit" [disabled]="!user.valid">Sign up</button>
  </form>
</div>
