<div class="container-fluid">
  <div *ngIf="courseInfo" id="course-info">
    <div class="row">
      <h4 class="col-11 text-dark">{{ courseInfo.courseNum }}</h4>
      <a class="mt-2 font-italic col-1" [routerLink]="['./edit']">edit</a>
    </div>

    <div class="text-secondary" id="desc">{{ courseInfo.description }}</div>

    <div class="row">
      <h6 class="mt-2">View Scenario Status </h6>
    </div>
    <div class="row">
      <div id="statusByStudent" class="col-12 col-lg-6">
        <h6 class="mb-2">By Student</h6>
        <div class="list-group">
          <a *ngFor="let student of students" [routerLink]="['../../students', student.userId]" class="list-group-item list-group-item-action">{{student.firstName student.lastName}}</a>
        </div>
        <!-- end students -->
      </div>
      <!-- statusByStudent -->
      <div id="statusByScenario" class="col-12 col-lg-6">
        <h6 class="mb-2">By Scenario</h6>
        <div class="list-group">
          <a *ngFor="let scen of scenarios" [routerLink]="['./', scen.scenCode]" class="list-group-item list-group-item-action">{{ scen.label }}</a>
        </div>
      </div>
      <!-- statusByScenario -->

    </div>
    <!-- end row -->
  </div>
  <!-- end course info -->
</div>
