<div class="container-fluid">
        <div *ngIf="errorMessage !== ''" class="alert alert-danger">
          {{ errorMessage }}
        </div>
        <div *ngIf="scenario && courseNum" id="info">
          <div class="row">
            <a [routerLink]="['../']" class="text-dark"><h4>{{ courseNum }}</h4> </a>
          </div>
      
          <div class="row d-flex mb-2" id="scenario-info">
            <div class="text-weight-bold text-primary mr-2">{{scenario.shortCode}}</div>
            <div class="text-secondary">{{ scenario.label }}</div>
          </div>
      
          <div class="list-group">
            <div *ngFor="let student of students; let i = index" class="list-group-item justify-content-between d-flex">
              <div class="access-status">
                  <span class="text-primary student-label">{{student | personName}}</span>
              </div>
              <div class="btn-group" role="group">
                <span style="padding-right: 20px" class="text-secondary"> Score: {{ getQuizScore(student.userId) }}</span>
                <button class="btn btn-outline-primary btn-sm" (click)="goToFridge(student.userId)">View fridge</button>
              </div>
              </div> <!-- end list-group-item -->
          </div>
          <!-- end students -->
        </div>
        <!-- end info -->
      </div>
      