.bact-tube{
  min-height: 200px;
  display: inline-block;
  border: 1px solid black;
  background-color:antiquewhite;
}
.bact-tube span {
  font-size: x-large;
  font-weight: bold;
}
.n-phage-1{
  background-color: lightgray;
}
.n-phage-2{
  background-color:darkgray;
}

#tubeB{
  color: blue;
}

#tubeK{
  color: red;
}
