.dil-tube {
  min-height: 200px;
  display: inline-block;
  border: 1px solid darkgray;
}
.dil-tube.filled{
  background-color:floralwhite;
}
.dil-tube-inner{
  min-height: 200px;
}
#dil-value{
  display: inline-block;
}
#dil-value input{
  width: 100px;
}
.dil-val{
  font-size: small;
  text-align: center;
  margin: 0px 15px;
}

.dil-tube-inner.dnd-drag-enter{
  background-color: beige;
  opacity: 1;
}

.dil-tube.dnd-drag-start{
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
