<div class="phage-plate border border-dark col-12 col-md-6 col-xl-3 align-middle" dnd-droppable (onDropSuccess)="fillPlate($event)">
  <div *ngIf="isEmpty && !isFull" class="empty-plate">
{{errorMessage}}
  </div>
  <div *ngIf="isFull" class="full-plate">
    PLATE IS OVER CAPACITY
  </div>
  <div *ngIf="!isEmpty && !isFull" class="cross-plate">
    <div>
    Small plaques:
      <div class="plaque" dnd-draggable [dragEnabled]="canDrag('small')" [dragData]="pickPhage('small')" (onDragSuccess)="addedToFridge($event)">{{  smallPlaqueList.length }}</div>
    </div>
    <div>
    Large plaques:
      <div class="plaque" dnd-draggable [dragEnabled]="canDrag('large')" [dragData]="pickPhage('large')" (onDragSuccess)="addedToFridge($event)">{{ largePlaqueList.length }}</div>
    </div>
  </div>
</div>
<button (click)="clearPlate()" class="btn btn-outline-secondary btn-sm btn-block">Clear plate</button>
