<div *ngIf="keys.length > 0" class="container">
<div id="model-toolbar" class="row justify-content-end" role="toolbar">
  <button class="btn btn-primary" (click)="saveData()">
      Save
    </button>
</div>
<div class="row" id="modeller">
  <div class="col-1">
    <div class="row text-secondary mb-1" *ngFor="let phage of keys">
      {{phage+1}}
    </div>
  </div>
  <div id="modeller-rows" class="col-11">
    <div class="row mb-1" *ngFor="let phage of keys">
      <div class="btn-group phage-delete-row w-100">
        <div *ngFor="let i of geneAr" [ngClass]="getBlockClass(phage,i)" (click)="toggleBlock(phage,i)" [title]="i*stepSize" [style.width.%]="_width"> </div>
      </div>
    </div>
  </div>
  <!-- end modeller-rows -->
</div>
<!-- end modeller -->
  </div>
<div id="error-message" class="alert alert-warning" [class.invisible]="errorMessage==''"></div>
