#modeller-rows{
  overflow:scroll;
}

#modeller{
  display: inline-flex;
}

.guess-block{
  display: inline;
  min-width: 15px;
  cursor: pointer;
  white-space: pre-wrap;
}

.label-row{
  float: right;
}

.label-row span {
  margin-right: 10px;
}
