<!--<cricket-nav></cricket-nav>-->
<div *ngIf="user" id="home-user">
  <h1>Hello {{user.name}}</h1>
  <a href="api/auth/signout">Sign out</a>

  <ul>
    <li><a [routerLink]="['/articles']">List Articles</a></li>
    <li><a [routerLink]="['/articles/create']">Create Article</a></li>
  </ul>
</div>
<div *ngIf="!user">
  <ul>
  <li><a [routerLink]="['/articles']">List Articles</a></li>
  <li><a [routerLink]="['/authentication/signup']">Sign up</a></li>
  <li><a [routerLink]="['/authentication/signin']">Sign in</a></li>
    </ul>
</div>
