.larger-link{
  font-size: 1.5em;
  font-weight: 500;
}

#home-jumbotron{
  padding-bottom: 2em;
}

#home-jumbotron h2{
  font-weight: bold;
}

#jumbotron-contents{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
