<div id="plex-room" class="container">
  <div class="row clearfix">
    <div role="toolbar" class="btn-toolbar justify-content-between col-12">
      <!-- bact tubes -->
      <div>
        <label class="tb-label" for="bact-tubes">E. coli</label>
        <div id="bact-tubes" class="col-12 col-sm-6 col-md-3 btn-group" role="group" aria-label="Bact-tubes">
          <button [ngClass]="getTubeClasses('B')" id="tubeB" (click)="chosenPhage='B'" (dblclick)="chosenPhage='none'">
      <span>B</span>
    </button>

          <button [ngClass]="getTubeClasses('K')" id="tubeK" (click)="chosenPhage='K'" (dblclick)="chosenPhage='none'">
      <span>K</span>
    </button>
        </div>
      </div>
      <!-- end bact-tubes -->

      <!-- dilution-value -->
      <div id="dilution-value" class="col-12 col-sm-6 col-md-3">
        <label class="tb-label">Dilution</label>
        <input type="number" min="2" max="20" [(ngModel)]="dilutionValue" class="w-100">
      </div>
      <!-- end dilution-value -->

      <!-- plexer type -->
      <div>
        <label class="tb-label" for="plexer-type">Plexer</label>
        <div id="plexer-type" class="col-12 col-sm-6 col-md-3 btn-group" role="group" aria-label="Plexer-type">
          <button [ngClass]="getPlexerClasses('multi')" (click)="plexerType='multi'" title="Perform 2x8 cross">
      <span>Multi</span>
    </button>

          <button [ngClass]="getPlexerClasses('super')" (click)="plexerType='super'" title="Perform 8x8 cross">
      <span>Super</span>
    </button>
        </div>
      </div>
      <!-- end plexer-type -->
      <div class="col-12 col-sm-6 col-md-3 btn-group-vertical">
        <button class="btn btn-outline-primary btn-sm" (click)="reset()">Reset</button>
        <button class="btn btn-primary" [disabled]="submitDisabled()" (click)="performPlexer()">Submit</button>
      </div>
    </div>
    <!-- end toolbar -->
  </div>
  <div id="error-message" class="alert alert-warning" [class.invisible]="errorMessage==''">
    {{ errorMessage }}
  </div>
  <!-- data table -->
  <div class="row">
    <table class="w-100 h-100">
      <!-- header -->
      <tr>
        <td></td>
        <td *ngFor="let col of cols; let i=index" dnd-droppable (onDropSuccess)="addPhage($event, 'col', i)" class="plexer-td-label">
          <span *ngIf="col !== null">{{ col.strainNum+1 }}</span>
        </td>
      </tr>
      <!-- rows with data -->
      <tr *ngFor="let row of rows; let i=index" [ngClass]="getRowClass(i)">
        <td dnd-droppable (onDropSuccess)="addPhage($event, 'row', i)" class="plexer-td-label">
          <span *ngIf="row !== null">{{ row.strainNum+1 }}</span>
        </td>
        <td *ngFor="let col of cols; let j=index" class="plexer-td">
          <div *ngIf="results && results[i] && results[i][j]">
            <div *ngIf="results[i][j].full">
              Over capacity
            </div>
            <div *ngIf="!results[i][j].full" class="plexer-td-results">
              Small: {{results[i][j].smallPlaque}} <br> Large: {{results[i][j].largePlaque}}
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div>
