#tubeB{
  color: blue;
}

#tubeK{
  color: red;
}

.tb-label{
  display: block;
  text-align: center;
}

#submit-plexer-btn{
  position: absolute;
  bottom: 0px;
}
.plexer-td{
  border: 1px solid darkgray;
  height: 25px;
  width: 11%;
}

.plexer-td-label{
  border: 1.5px solid black;
  height: 25px;
  text-align: center;
  font-weight: bold;
}

.plexer-td-label.dnd-drag-enter{
  background-color: #dddddd;
}
.plexer-td-results{
  font-size: smaller;
}
