<table class="w-100 h-100">
  <!-- header -->
  <tr>
    <td></td>
    <td *ngFor="let col of cols; let i=index" dnd-droppable (onDropSuccess)="addPhage($event, 'col', i)" class="plexer-td-label">
    <span *ngIf="col.data !== null">{{ col.data.strainNum }}</span>
    </td>
  </tr>
  <!-- rows with data -->
  <tr *ngFor="let row of rows; let i=index" [ngClass]="getRowClass(i)">
    <td dnd-droppable (onDropSuccess)="addPhage($event, 'row', i)" class="plexer-td-label">
      <span *ngIf="row.data !== null">{{ row.data.strainNum }}</span>
    </td>
    <td *ngFor="let col of cols; let j=index" class="plexer-td">
      <div *ngIf="results && results[i] && results[i][j]">
        {{results[i][j]}}
      </div>
    </td>
  </tr>
</table>
