.mpede-basic-top-left{
      background-image: url(/img/pedes/pede-black-seg4-leg2-min.png);
      height: 128px;
      width: 68px;
      background-position: 68px 0px; 
    }

.mpede-width-1-step{
  width: 68px;
}

.mpede-width-2-step{
  width: 68px;
}

.mpede-width-3-step{
  width: 68px;
}

.mpede-width-4-step{
  width: 68px;
}

.mpede-width-5-step{
  width: 68px;
}

.mpede-width-6-step{
  width: 68px;
}

.mpede-width-7-step{
  width: 68px;
}

.mpede-width-8-step{
  width: 68px;
}

.mpede-width-9-step{
  width: 68px;
}

.mpede-width-10-step{
  width: 68px;
}

.mpede-basic-center{
      background-image: url(/img/pedes/pede-black-seg4-leg2-min.png);
      height: 128px;
      width: 68px;
      background-position: 50% 50%; 
    }

.mpede-basic-top-right{
      background-image: url(/img/pedes/pede-black-seg4-leg2-min.png);
      height: 128px;
      width: 68px;
      background-position: 100% 0%; 
    }

.mpede-basic-bottom-left{
      background-image: url(/img/pedes/pede-black-seg4-leg2-min.png);
      height: 128px;
      width: 68px;
      background-position: 0% 100%; 
    }

.mpede-basic-bottom-right{
      background-image: url(/img/pedes/pede-black-seg4-leg2-min.png);
      height: 128px;
      width: 68px;
      background-position: 100% 100%; 
    }


